<!DOCTYPE html>
<html>
<head>
  <title>Futboleros</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
    <h1 id="logo">FUTBOLEROS&trade;</h1>
    <h2 id="slogan">Tu tienda de camisetas</h2>
  </div>

  <div id="content">
    <h1><%= @page_title if @page_title %></h1>
    <% if flash[:notice] %>
      <div id="notice"><%= flash[:notice] %></div>
    <% end %>
    <%= yield %>
  </div>

  <div id="footer">
    &copy; 2015 GRUPO 7
  </div>  
</body>
</html>
